<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
</head>
<body>
	<form action="" method="get">
		{{form}}
		<input type="submit" value="Submit">
	</form>
	<hr>
	<form action="" method="get">
		{{form.as_table}}
		<input type="submit" value="Submit">
	</form>
	<hr>
	<form action="" method="get">
		{{form.as_p}}
		<input type="submit" value="Submit">
	</form>
	<hr>
	<form action="" method="get">
		{{form.as_ul}}
		<input type="submit" value="Submit">
	</form>
	<hr>
	<form action="" method="get">
		{{form.name}}
		{{form.email}}
		<input type="submit" value="Submit">
	</form>

</body>
</html>