{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
	<div class="text-center">
		<img src="{% static 'core/images/logo20.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
	</div>
	<div class="mt-5 text-white mx-5 text-justify">
		<h1 class="font-weight-bold">Hello,</h1>
		<div class="px-4" style="line-height: 2rem;">
			<p style ="text-indent: 100px;"> I am <b class="text-warning">Sonam Kashyap</b> having 5 years of 
			full-stack development experience for global business, I offer the techinical  expertise you are
			seeking  for your  web development position.</p>
			<p>Since earning my bechelor's degree in internet and web development from xyz university, I have served
			as a web developer  at <b class="text-warning">Gs Technology</b>, One of biggest premier digital marketing
			and web development firm. In this position, I have led web development  projects for client in diverse
			industries including, retail and financial services</p>
			<p>Paragraph writing is a necessary skill that benefits people of all ages and within all industries. This is why it’s important for teachers to begin introducing paragraph</p> 	
				
				 
				
			
		</div>
	</div>
</div>
{% endblock content  %}